<div class="team-div-1">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <h2 class="comon-heading m-0"> አጋሮች</h2>
       
      </div>
<!--  -->
      <owl-carousel-o [options]="customOptions" >

        <ng-container  *ngFor="let slide of partners">
          <ng-template carouselSlide [id]="slide.id">
            <div class=" comon-plyaers mt-5 mr-5" style="width: 280px;" >
            <figure>
              <img [src]="getImage(slide.image)" style="width: 100%;"  alt="team1" />
              <figcaption>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                  <path
                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                </svg>
              </figcaption>
            </figure>
            <div class="name d-flex align-items-center justify-content-between">
              <h5>
                <span class="d-block"> {{slide.name}}</span>
              </h5>
              <!-- <span class="num"> 10 </span> -->
            </div>
          </div>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
    </div>
  </div>