<div class="newd-blogs-div py-5">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">

        <h2 class="comon-heading m-0"> ልገሳዎች </h2>

        <a routerLink="donation" class="btn all-cm-btn">ሁሉንም ይመልከቱ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
            </path>
          </svg> </a>

      </div>


      <div class="row g-lg-5 mt-5 mt-lg-0">
        <div class="col-lg-8">
          <div *ngFor="let donation of donations" class="left-cm-blogs">
            <figure class="m-0">
              <img [src]="getImage(donation.image)" alt="blogs" />
            </figure>
            <div class="blogs-ps-right ps-lg-4 pt-lg-4">
              <h5> {{donation.title}} </h5>
              <ul class="list-unstyled d-flex align-items-center mt-2">
                <li>
                  <i class="fas fa-calendar-alt"></i> 80 ብር of {{donation.target}} ብር
                </li>
                <li>
                  <i class="far fa-comment-dots"></i> 89 ለጋሾች
                </li>
              </ul>
              <p class="mt-2" [innerHTML]="donation.description" style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis;"> </p>
              <h4 class="btn mt-4"> 
                
                <a [routerLink]="['/donation', donation.id]"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                  <path
                    d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                </svg> </a></h4>
            </div>
          </div>

         


        </div>

        <div class="col-lg-4 right-home-blogs">
          <div [routerLink]="['/donation', donation.id]" style="cursor: pointer;"  *ngFor="let donation of donations" class="left-cm-blogs">
            <figure class="m-0">
              <img [src]="getImage(donation.image)" alt="blogs" />
            </figure>
            <div class="blogs-ps-right ps-lg-4 pt-lg-1">
              <h5 class="mt-0"> {{donation.title}}</h5>
              <ul class="list-unstyled d-flex align-items-center mt-2">
                <li>
                  <i class="fas fa-calendar-alt"></i>&nbsp;{{donation.createdAt | date:"dd MMM, yyyy"}}
                </li>
                <li> 
                  <i class="far fa-comment-dots"></i> 89 ለጋሾች
                </li>
              </ul>

            </div>
          </div>

  
        </div>
      </div>
    </div>
  </div>