<section class="sub-main-banner float-start w-100">
     

    <div class="sub-banner">
        <div class="container">
            <h1 class="text-center">ይጨዋታ መረጃዎች</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">መነሻ</a></li>
                <li class="breadcrumb-item active" aria-current="page">ይጨዋታ መረጃዎች</li>
                </ol>
            </nav>
       </div>
    </div>



<div class="cart-sec-ban">
<ul class="list-unstyled">
 <li>
   <a href="#" class="btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
   </a>
 </li>
 <li>
   <a href="#" class="btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg>
   </a>
 </li>
</ul>
</div>

</section>

<section class="body-part-total float-start w-100">

 <div class="matech-div-details-main my-5">
      <div class="mn-next-part">
           <div class="container">
               

               <div class="d-lg-flex align-items-start">
                  <div class="col-lg-6">
                    <h2 class="comon-heading m-0 "> ይጨዋታ መረጃዎች </h2>
                    <p class="mt-3 pe-lg-3"> 
                        
                        {{nextMatch && nextMatch.matchName  }}, {{nextMatch && nextMatch.seasonName}} <br/>

                        {{nextMatch&&nextMatch.matchDateTime | date:"HH:MM a"}}<br/>
                        
                        {{nextMatch&&nextMatch.matchDateTime | date:"dd/MM/yyyy "}} <br/>
                
                    {{nextMatch&&nextMatch.locationStadium}} 
                        
                    </p>

                      <button type="button" class="buy-now-btn" name="button"> ትኬት ይግዙ
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg> </button>
                  </div>
                 
                  <div class="col-lg-6">
                    <div class="items-matchs py-5 mt-5 mt-lg-0">
                        <figure class="m-0 bg-mc-1">
                              <img src="../../../assets/images/bg-ms2.jpg" alt="bg-ms">
                        </figure>
                        <div class="matches-div-home">
                            
                            <div class="d-flex align-items-center justify-content-between ">

                                <figure>
                                    <img [src]="getLogo()" style="max-height: 145px;" alt="cl2">
                                    <figcaption>{{getName()}}</figcaption>
                                </figure>
                                <h4>VS</h4>
                                <figure>
                                   <img [src]="getLogo2()"  style="max-height: 145px;"  alt="cl2">
                                   <figcaption>{{getName2()}}</figcaption>
                               </figure>
                            </div>
                        </div>
                    </div>
                  </div>
               </div>

               


     

           </div>
           <app-partner></app-partner>
      </div>


 </div>




</section>

