<section class="sub-main-banner float-start w-100">
     

    <div class="sub-banner">
        <div class="container">
            <h1 class="text-center"> ይሸምቱ </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">መነሻ</a></li>
                <li class="breadcrumb-item active" aria-current="page"> ይሸምቱ </li>
                </ol>
            </nav>
       </div>
    </div>
    
    <div class="container-shop">
    <h1>በ ቅርብ ቀን ይጠብቁ!</h1>
    <p>ምርጡን የግዢ ተሞክሮ ለእርስዎ ለማቅረብ ጠንክረን እየሰራን ነው።</p>
    <div class="countdown">
      <div class="countdown-item">
        <span id="days">{{days}}</span>
        ቀናት
      </div>
      <div class="countdown-item">
        <span id="hours">{{hours}}</span>
        ሰዓታት
      </div>
      <div class="countdown-item">
        <span id="minutes">{{minutes}}</span>
        ደቂቃዎች
      </div>
      <div class="countdown-item">
        <span id="seconds">{{seconds}}</span>
        ሰከንዶች
      </div>
    </div>
  </div>
  </section>

