<section class="sub-main-banner float-start w-100">
     

    <div class="sub-banner">
        <div class="container">
            <h1 class="text-center"> Shop </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Shop </li>
                </ol>
            </nav>
       </div>
    </div>
    
    <div class="container-shop">
    <h1>Our Shop is Coming Soon!</h1>
    <p>We're working hard to bring you the best shopping experience.</p>
    <div class="countdown">
      <div class="countdown-item">
        <span id="days">{{days}}</span>
        Days
      </div>
      <div class="countdown-item">
        <span id="hours">{{hours}}</span>
        Hours
      </div>
      <div class="countdown-item">
        <span id="minutes">{{minutes}}</span>
        Minutes
      </div>
      <div class="countdown-item">
        <span id="seconds">{{seconds}}</span>
        Seconds
      </div>
    </div>
  </div>
  </section>

