

<section class="sub-main-banner float-start w-100">
     

    <div class="sub-banner">
        <div class="container">
          
                <h1 class="text-center"> ልገሳ </h1> 
          
            
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">መነሻ</a></li>
                <li class="breadcrumb-item active" aria-current="page"> ልገሳ </li>
                </ol>
            </nav>
       </div>
    </div>



    <div class="cart-sec-ban">
      <ul class="list-unstyled">
         <li>
           <a href="cart.html" class="btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
           </a>
         </li>
         <li>
           <a href="wishlist.html" class="btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
           </a>
         </li>
      </ul>
     </div>
</section>

<section class="body-part-total float-start w-100">
          
    <div class="our-news-div-main py-5">
         <div class="container">
             
             <div class="d-flex align-items-center justify-content-between">
              <h2 class="comon-heading"> ልገሳዎቻችን </h2>
         
              
             </div>

             <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5 gx-md-5 gy-lg-0 gx-lg-5 mt-0">
                  <div class="col" *ngFor="let donation of donations">
                      <a [routerLink]="['/donation', donation.id,donation]" class="comon-blogs1">
                          <figure>
                              <img [src]="getImage(donation.image)" alt="bn"/>
                              <figcaption>
                                  <b class="d-block"> {{donation.createdAt | date:"dd"}}</b>
                                  {{donation.createdAt | date:"MMM"}}
                              </figcaption>
                          </figure>
                          <div class="news-items-del">
                              <h5>{{donation.title}}</h5>
                              <ul class="list-unstyled d-flex align-items-center my-2">
                                 <li>
                                  <i class="far fa-money"></i> 80 ETB  
                                 </li>
                                 <li>
                                    of
                                 </li>
                                 <li>
                                  <i class="far fa-clock"></i> {{donation.target}} ETB
                                 </li>
                              </ul>

                              <p class="mt-2" [innerHTML]="donation.description" style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis;"> </p>

                              <h6 routerLink="['/donation', donation.id]"  class="btn reda-btn mt-3"> ተጨማሪ ያንብቡ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
                                </svg> </h6>
                          </div>

                      </a>
                  </div>
                </div>


   
 
            </div>
       </div>
 
 
 </section>
 
