 
<section class="sub-main-banner float-start w-100">
     

    <div class="sub-banner">
        <div class="container">
            <h1 class="text-center"> Contact</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
       </div>
    </div>



    <div class="cart-sec-ban">
        <ul class="list-unstyled">
           <li>
             <a href="cart.html" class="btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
             </a>
           </li>
           <li>
             <a href="wishlist.html" class="btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
             </a>
           </li>
        </ul>
    </div>

</section>

<section class="body-part-total float-start w-100">
 

<div class="contact-us-page my-5">
      <div class="top-contact-div">
            <div class="container">
                 <div class="row row-cols-1 row-cols-lg-3 gy-5 g-lg-5">
                      <div class="col">
                          <div class="comon-div-cont">
                               <h5> Club enquiries </h5>
                               <ul class="list-unstyled mt-4">
                                 <li>
                                     <span class="icm"> <i class="fas fa-phone-alt"></i> </span>
                                     <span> 1800-250-356</span>
                                 </li>
                                 <li>
                                    <span class="icm"> <i class="fas fa-envelope"></i> </span>
                                    <span> example@gmail.com</span>
                                 </li>
                                 <li>
                                    <span class="icm"> <i class="fas fa-map-marker-alt"></i> </span>
                                    <span> 31 Scotsburn Rd,  Talyllyn, UK </span>
                                 </li>
                               </ul>
                          </div>
                      </div>

                      <div class="col">
                        <div class="comon-div-cont">
                             <h5> Media enquiries </h5>
                             <ul class="list-unstyled mt-4">
                               <li>
                                   <span class="icm"> <i class="fas fa-phone-alt"></i> </span>
                                   <span> 1800-250-356</span>
                               </li>
                               <li>
                                  <span class="icm"> <i class="fas fa-envelope"></i> </span>
                                  <span> example@gmail.com</span>
                               </li>
                               <li>
                                  <span class="icm"> <i class="fas fa-map-marker-alt"></i> </span>
                                  <span> 31 Scotsburn Rd,  Talyllyn, UK </span>
                               </li>
                             </ul>
                        </div>
                      </div>

                      <div class="col">
                        <div class="comon-div-cont">
                             <h5> Head Office </h5>
                             <ul class="list-unstyled mt-4">
                               <li>
                                   <span class="icm"> <i class="fas fa-phone-alt"></i> </span>
                                   <span> 2500-250-356</span>
                               </li>
                               <li>
                                  <span class="icm"> <i class="fas fa-envelope"></i> </span>
                                  <span> example@gmail.com</span>
                               </li>
                               <li>
                                  <span class="icm"> <i class="fas fa-map-marker-alt"></i> </span>
                                  <span>  89 Mounthoolie Lane, Sutton Bassett, UK </span>
                               </li>
                             </ul>
                        </div>
                      </div>


                 </div>
            </div>
      </div>

      <div class="blog-page comon-services-pge mt-5">

        <div class="container">
            
            <div class="row g-lg-5">
               
                <div class="col-md-7">
                    <div class="conatct-form-div mb-5">
                    
                        <h2 class="comon-heading m-0"> Leave Us for Your Info </h2>
                        <form name="fmn" action="https://oxenticstemplates.biz/templatemonster/soocer/contact.php" method="post">
                          <div class="row mt-4">
                              <div class="col-lg-6">
                                  <input type="text" name="name" class="form-control" placeholder="Name" required>
                              </div>
                              <div class="col-lg-6">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                              </div>
                              <div class="col-lg-6">
                                <input type="text" name="phone" class="form-control" placeholder="Phone" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                            </div>
                            <div class="col-lg-12">
                                <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" name="submit" class="btn subimt-message" value="Submit">
                            </div>
                          </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-5 cm-text-n">
                   
                    <h2 class="comon-heading m-0"> Location </h2>
                   
                    <div class="map-div1 mt-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9478108.126193948!2d-4.4737716!3d54.55127985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited%20Kingdom!5e0!3m2!1sen!2sin!4v1661586996997!5m2!1sen!2sin"  height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                </div>
            </div>
                  
        </div>
    
     </div>
</div>


</section>
