
  <header class="float-start w-100">

    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container">
        <a class="navbar-brand" routerLink="">
          <img style="border-radius: 30%;" src="/assets/images/logo2.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightmobile">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="matches.html">Matches</a>
            </li> -->

            <li class="nav-item ">
              <a class="nav-link" routerLinkActive="active"  routerLink="association">ማህበሩ</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="membership">አባልነት</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="donation">ልገሳ</a>
            </li>




            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="shop">ይሸምቱ</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="contact">አግኙን</a>
            </li>

            <li class="nav-item">
              <a routerLink="ticket" class="nav-link btn join-btn regster-bn" >ትኬት ይግዙ</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn bar-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightmobile"><i
                  class="fas fa-bars"></i></a>
            </li>

          </ul>

        </div>
      </div>
    </nav>

  </header>
